<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="ExtentReportListener.ExtentReporterTestNG"/>
    </listeners>
  <test thread-count="5" name="Optiam">
    <classes>
      <class name="OptiAM.StepDefs">
      <methods>
       <include name="User_Login"></include>
   <!-- <include name="CaseBoarding"></include>
      <include name="SearchScreens"></include>
        <include name="NewMessagingSubSystem"></include>
        <include name="OldMessaging"></include>
        <include name="CaseByCaseWizard"></include> 
     <include name="MondayEmailTesting"></include>-->
      <include name="TuesdaySEmailTesting"></include>
      </methods>
      </class>
    </classes> 
  </test> <!-- Test -->
</suite> <!-- Suite -->
